@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);

}
body
   {
        font-family: Arial, sans-serif;
       background-color: #dddddd;
       color: rgba(0, 0, 0, 1)
    }

    header#cabecalho img#icone 
    {
        position: relative;
        left: 46.5rem;
        top: -3.5rem;
 
   }
   p
   {
       text-align: justify;
       text-indent: 10px;
    }
    a
    {
        color: #606060 ;
        text-decoration: none;
    }
    a:hover
    {
        text-decoration: underline;
    }

    h1
    {
        font-family: arial;
        font-size: 30pt;
      color:rgb(23, 23, 40);
        text-shadow: .05rem .05rem .05rem black;
    }

    span
    {
     text-decoration: none;
    }
    div#interface 
    {
        width: 900px;
        background-color: #ffffff;
        margin: -17px auto 0px auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
        padding: 1rem;
    }
    header#cabecalho 
    {
        border-bottom: 1px #606060 solid;
        height: 150px;
        background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
        padding: 0px;
    }
    header#cabecalho h1
    { 
        font-family: 'FonteLogo' , sans-serif;
        font-size: 30pt;
        color: #606060;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
        padding: 0px;
        margin-bottom: 0px;
    }
    header#cabecalho h2 
    {
        font-family: 'Titillium Web', sans-serif;
        color: #888888;
        font-size: 15pt;
        padding: 0px;
        margin-top: 0px;
    }




    
/*padding espaço interno, margin espaço externo*/


    /* FORMATAÇÁO DE IMAGENS COM LEGENDAS*/

    figure.foto-legenda
    {
        position: relative;
        border: .2rem solid white;
        box-shadow: 1px 1px 4px black; 
    }
    figure.foto-legenda img
    {
        width: 100%;
        height: 100%;
    }
    figure.foto-legenda figcaption
    {
        opacity: 0;
        position: absolute;
        top: 0px;
        background-color: rgba(0,0,0,.4);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    figure.foto-legenda:hover figcaption {
        opacity: 1;
    }
    /*FORMATAÇÃO DO MENU*/
    
    nav#menu ul
    {
        list-style: none;
        text-transform: uppercase;
        position:relative;
        top: -17rem;
        left: 15rem;
    }
    nav#menu
    {
        display: block;
        
    }

    nav#menu li
    {
        display: inline-block;
        background-color: #dddddd;
        padding: 10px;
        margin: 2px;
        transition: background-color  1s;
    }
    nav#menu li:hover
    {
        background-color: #606060;
    }
    
    nav#menu h1
    {
        display: none;
    }
/*Relativo dentro do conteiner e absoluto fora do conteiner */
    nav#menu a 
    {
        color: #000000;
        text-decoration: none;         
    }
     
    nav#menu a:hover 
    {
        color: #ffffffff;
        text-decoration: underline;
    }

    section#corpo
    {
        display: block;
        width: 30.5rem;
        float: left;
        border-right: .1rem solid #606060;
        padding-right:  1rem;
    }
    article#noticia-principal h2 
    {
        font-size: 13pt;
        color: #606060;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
        margin: 10px 0px 10px 0px;
    }
    header#cabecalho-artigo h1
    {
        font-family: 'FonteLogo', sans-serif;
        font-size: 20pt;
        color: #606060;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    .direita 
    {
        text-align: right;
    }

    header#cabecalho-artigo h2
    {
        font-size: 13pt;
        color: #cecece;
        background-color: #ffffff;
        margin: 0rem;
    }

    header#cabecalho-artigo h3
    {
        font-size: 12px;
        color: #606060;

    }


    table#tabelaspec
    {
        border: .0rem solid #606060;
        border-spacing: 0rem;
        margin-left: auto;
        margin-right: auto;
    }

    table#tabelaspec td
    {
        border: .1rem solid #606060;
        padding: .6rem;
        text-align: right;
        vertical-align: top;
        /*box-shadow: .3rem .3rem .3rem;*/
    }
    table#tabelaspec td.ce
    {
        color: #ffffff;
        background-color: #606060;
        vertical-align: top;
        font-weight: bold;
    }
    table#tabelaspec td.cd
    {
        background-color: #cecece;
       text-align: right;
    }

    table#tabelaspec caption
    {
        color: #888888;
        font-size: 13pt;
        font-weight: bolder;
    }

    table#tabelaspec caption span 
    {
        display: block;
        float: right;
        color: #000000;
        font-size: 8pt;
        margin-top: .7rem;

    }

    aside#lateral
    {
        display: block;
        width: 23rem;
        float: right;
        background-color: #dddddd;
        padding: .5rem;
        margin-top: .5rem;
        box-shadow: .2rem .2rem .2rem rgba(0,0,0,.5)
    }

    aside#lateral h1
    {
        font-family: 'FonteLogo', sans-serif;
        font-size: 20pt;
        color: #606060;
        margin-top: 0rem;
    }
    aside#lateral h2
    {
        background-color: #606060;
        font-size: 13pt;
        color: #ffffff;
        padding: .4rem;
    }

    footer#rodape
    {
        clear: both; /*limpar configuração de ambos os lados faendo com que mostre fora da divisão */
        border-top: .1rem solid #606060;
    }
    footer#rodape p
    {

        text-align: center;
    }