@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);

}
body
   {
       background-color: #dddddd;
       color: rgba(0, 0, 0, 1)
   }
   div#interface 
   {
       width: 900px;
       background-color: #ffffff;
       margin: -20px auto 0px auto;
       box-shadow: 0px 0px 10px rgba(0,0,0,.5);
       padding: 10px;
   }

   p
   {
       text-align: justify;
       text-indent: 50px;
    }

    h1
    {
        font-family: arial;
        font-size: 30pt;
      color:rgb(23, 23, 40);
        text-shadow: 2px 2px 2px black;
    }

    span
    {
     text-decoration: none;
    }

    header#cabecalho img#icone 
    {
        position: relative;
        left: 735px ;
        top: -45px;
    }
    header#cabecalho 
    {
        border-bottom: 1px #606060 solid;
        height: 150px;
        background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
        padding: 0px;
    }
    header#cabecalho h1
    {
        font-family: 'FonteLogo' , sans-serif;
        font-size: 30pt;
        color: #606060;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
        padding: 0px;
        margin-bottom: 0px;
    }
    header#cabecalho h2 
    {
        font-family: 'Titillium Web', sans-serif;
        color: #888888;
        font-size: 15pt;
        padding: 0px;
        margin-top: 0px;
    }




    
/*padding espaço interno, margin espaço externo*/


    /* FORMATAÇÁO DE IMAGENS COM LEGENDAS*/

    figure.foto-legenda
    {
        position: relative;
        border: 2px solid white;
        box-shadow: 1px 1px 4px black; 
    }
    figure.foto-legenda img
    {
        width: 100%;
        height: 100%;
    }
    figure.foto-legenda figcaption
    {
        opacity: 0;
        position: absolute;
        top: 0px;
        background-color: rgba(0,0,0,.4);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity .5s;
    }
    figure.foto-legenda:hover figcaption {
        opacity: 1;
    }
    /*FORMATAÇÃO DO MENU*/

    nav#menu
    {
        display: block;
        
    }

    nav#menu ul
    {
        list-style: none;
        text-transform: uppercase;
        position: relative;
        top: -15rem;
        left: 17rem;
    }
    nav#menu li
    {
        display: inline-block;
        background-color: #dddddd;
        padding: 10px;
        margin: 2px;
        transition: background-color  1s;
    }
    nav#menu li:hover
    {
        background-color: #606060;
    }
    
    nav#menu h1
    {
        display: none;
    }
/*Relativo dentro do conteiner e absoluto fora do conteiner */
    nav#menu a 
    {
        color: #000000;
        text-decoration: none;         
    }
     
    nav#menu a:hover 
    {
        color: #ffffffff;
        text-decoration: underline;
    }

    section#corpo
    {
        display: block;
        width: 32.3rem;
        float: left;
        border-right: .1rem solid #606060;
        padding-right:  1rem;
    }
    table#tabelaspec
    {
        border: .0rem solid #606060;
        border-spacing: 0rem;
        margin-left: auto;
        margin-right: auto;
    }

    table#tabelaspec td
    {
        border: .1rem solid #606060;
        padding: .6rem;
        text-align: right;
        vertical-align: top;
        /*box-shadow: .3rem .3rem .3rem;*/
    }
    table#tabelaspec td#tabelar
    {
        text-align: left;
    }

    aside#lateral
    {
        display: block;
        width: 350px;
        float: right;
    }
    footer#rodape
    {
        clear: both; /*limpar configuração de ambos os lados faendo com que mostre fora da divisão */
        border-top: .1rem solid #606060;
    }
    footer#rodape p
    {

        text-align: center;
    }